@model IEnumerable<DAL.Models.Account>

@{
    ViewData["Title"] = "AccountList";
}

<h2>Accounts List</h2>

<table class="table">
    @foreach (var account in Model)
    {
        <tr>
            <td>
                @account.Email
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@account.Id">Access rights</a>
            </td>
        </tr>
    }
</table>

