
@{
    ViewData["Title"] = "AddRole";
}

<h2>Add new role</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post" asp-action="AddRole">
    <div class="form-group">
        <label for="name">New role</label>
        <input name="name" class="form-control" />
    </div>
    <input type ="submit" class="btn btn-primary"/>
</form>

