@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Index";
}

<h2>Roles List</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form method="post" asp-action="Delete" asp-route-id="@role.Id">
                    <input type="submit" class ="btn btn-sm btn-danger" value="Delete"/>
                </form>
            </td>
        </tr>
    }
</table>

<a asp-action="AddRole">Add role</a>
<a asp-action="AccountList">Accounts List</a>

